@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
.container{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
}
p {
  font-size: 14px;
  color:#858589;
  font-weight: 400px;
  // margin: 0;
  // padding: 0;
}

